:root {
  --toolbar-text-color: #fff;
  --toolbar-bkg-color: #333;
  --toolbar-item-padding: 5px;
  --toolbar-item-hover-color: #444;
  --monaco-hud-font: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, system-ui, Ubuntu, Droid Sans, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#content {
  width: 100%;
  flex-grow: 1;
  min-height: 0;
}

.logstyle-title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.glyph-logcat {
  padding-left: 8px;
}

.glyph-logcat:after {
  content: '🐱'
}

a {
  text-decoration: none;
}

nav {
  z-index: 1000;
  background: var(--toolbar-bkg-color);
  font-family: var(--monaco-hud-font);
  font-size: 13px;
  color: var(--toolbar-text-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: inline-block;
}

nav li {
  color: var(--toolbar-text-color);
  display: block;
  position: relative;
  text-decoration: none;
  padding: var(--toolbar-item-padding);
}

nav li a {
  color: var(--toolbar-text-color);
}

nav li:hover {
  cursor: pointer;
  background: var(--toolbar-item-hover-color);
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: var(--toolbar-item-padding);
  left: 0;
  display: none;
  background: var(--toolbar-bkg-color);
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 140px;
  background: var(--toolbar-bkg-color);
}

nav .title {
  color: var(--toolbar-text-color);
  font-weight: bolder;
  margin-right: 4px;
  padding-right: 12px;
  position: relative;
  bottom: 2px;
  border-right: 1px solid #444;
}

nav .logo {
  margin-left: 8px;
  margin-right: 4px;
  position: relative;
  top: 4px;
}

nav .arrow {
  font-size: 9px;
  position: relative;
  bottom: 2px;
  padding-left: 2px;
  opacity: 0.7;
}

nav li.active {
  font-weight: bold;
}

nav li.active::after{
  content: ' •';
}

nav button {
  background: none;
  color: var(--toolbar-text-color);
  border-radius: 3px;
  border: none;
  font-family: var(--monaco-hud-font);
  cursor: pointer;
}

nav button:hover {
  background: var(--toolbar-item-hover-color);
}
