/** ==================**/
/**  Atom One Light   **/
/** ==================**/
body.theme-atomOneLight {
  background-color: #f8f8f8;
  --toolbar-text-color: #000;
  --toolbar-bkg-color: #d8d8d8;
  --toolbar-item-hover-color: #a8a8a8;
}

.theme-atomOneLight .log-alert {
  color: #de3d35;
}

.theme-atomOneLight .glyph-foreground {
  background: rgba(0, 0, 0, 0.2);
}

/** ==================**/
/**       Dracula     **/
/** ==================**/
body.theme-dracula {
  background-color: #282a36;
  --toolbar-bkg-color: #21232c;
  --toolbar-item-hover-color: #080a16;
}

.theme-dracula .log-alert {
  color: #ff5555;
}

.theme-dracula .glyph-foreground {
  background: rgba(255, 255, 255, 0.2);
}

/** ==================**/
/**       Github      **/
/** ==================**/
body.theme-github {
  background-color: #f4f4f4;
  --toolbar-text-color: #000;
  --toolbar-bkg-color: #d8d8d8;
  --toolbar-item-hover-color: #a8a8a8;
}

.theme-github .log-alert {
  color: #970b16;
}

.theme-github .glyph-foreground {
  background: rgba(0, 0, 0, 0.2);
}


/** ==================**/
/**    Greyson Dark   **/
/** ==================**/
body.theme-greysonDark {
  background-color: #2b2b2b;
  --toolbar-bkg-color: #262626;
  --toolbar-item-hover-color: #181818;
}

.theme-greysonDark .log-alert {
  color: #ff6b68;
}

.theme-greysonDark .glyph-foreground {
  background: rgba(255, 255, 255, 0.2);
}

/** ==================**/
/** Jetbrains Darcula **/
/** ==================**/
body.theme-jetbrainsDarcula {
  background-color: #242424;
  --toolbar-bkg-color: #202020;
  --toolbar-item-hover-color: #141414;
}

.theme-jetbrainsDarcula .log-alert {
  color: #ff6b68;
}

.theme-jetbrainsDarcula .glyph-foreground {
  background: rgba(255, 255, 255, 0.2);
}

/** ==================**/
/** Solarized Dark **/
/** ==================**/
body.theme-solarizedDark {
  background-color: #001e26;
  --toolbar-bkg-color: #001921;
  --toolbar-item-hover-color: #000c15;
}

.theme-solarizedDark .log-alert {
  color: #d01b24;
}

.theme-solarizedDark .glyph-foreground {
  background: rgba(255, 255, 255, 0.2);
}

/** ==================**/
/** Solarized Light **/
/** ==================**/
body.theme-solarizedLight {
  background-color: #fdf6e3;
  --toolbar-text-color: #000;
  --toolbar-bkg-color: #ddd6c3;
  --toolbar-item-hover-color: #bdb6a3;
}

.theme-solarizedLight .log-alert {
  color: #d70000;
}

.theme-solarizedLight .glyph-foreground {
  background: rgba(0, 0, 0, 0.2);
}

